<div *ngFor="let promise of promises; let i = index"
     class="hidden md:grid grid-cols-8 w-full bg-gray-700 rounded-full px-8 mt-3 py-1">
  <!-- What -->
  <div class="col-span-3">
    <div class="flex h-full items-center">
      <p class="text-lg text-white">
        {{promise.what}}
      </p>
    </div>
  </div>
  <!-- When -->
  <div class="col-span-2">
    <div class="flex h-full items-center">
      <img src="assets/img/image1442.png" alt="" class="mr-2">
      <p class="text-white">{{formatDate(promise.timestamp)}}</p>
    </div>
  </div>
  <div class="col-span-1">
    <div class="flex h-full items-center">
      <p class="text-lg text-white">
        {{promise.vote_yes}}
      </p>
    </div>
  </div>
  <div class="col-span-1">
    <div class="flex h-full items-center">
      <p class="text-lg text-white">
        {{promise.vote_no}}
      </p>
    </div>
  </div>

  <!-- Progress -->
  <div class="relative ml-auto col-span-1" (click)="toggleStatus(i)">
    <div class="flex justify-center h-full items-center">
      <button class="flex justify-center bg-green-300 p-2 border-2 border-white rounded-md">
        <img src="assets/img/Amazing.png" alt="" class="">
      </button>
      <button class="flex text-gray-400 hover:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
          <path
            d="M16.0001 20L10.3428 14.3427L12.2294 12.4573L16.0001 16.2293L19.7708 12.4573L21.6574 14.3427L16.0001 20Z"
            fill="currentColor"/>
        </svg>
      </button>
    </div>

<!--     Progress bar (turn on this section when user want to change status)-->

          <div *ngIf="isOpenStatusCheck(i)" class="absolute top-16 flex flex-col items-center bg-white rounded-md" style="z-index: 100; max-width: 58px;">
              <button  class="flex justify-center p-2 m-1 border-white rounded-md hover:bg-green-300">
                  <img src="assets/img/Amazing.png" alt="" class="">
              </button>
              <button  class="flex justify-center p-2 m-1 border-white rounded-md hover:bg-green-300">
                  <img src="assets/img/good.png" alt="" class="">
              </button>
              <button  class="flex justify-center p-2 m-1 border-white rounded-md hover:bg-green-300">
                  <img src="assets/img/Medium+.png" alt="" class="">
              </button>
              <button  class="flex justify-center p-2 m-1 border-white rounded-md hover:bg-red-300">
                  <img src="assets/img/Medium-.png" alt="" class="">
              </button>
              <button  class="flex justify-center p-2 m-1 border-white rounded-md hover:bg-red-300">
                  <img src="assets/img/Bag.png" alt="" class="">
              </button>
              <button  class="flex justify-center p-2 m-1 border-white rounded-md hover:bg-red-300">
                  <img src="assets/img/Ugly.png" alt="" class="">
              </button>
          </div>
  </div>
</div>
