<div *ngFor="let promise of promises; let i = index"
     class="hidden md:grid grid-cols-8 w-full bg-gray-700 rounded-full px-8 mt-3 py-1" style="min-height: 58px">
  <!-- What -->
  <div class="col-span-3">
    <div class="flex h-full items-center">
      <p class="text-lg text-white">
        {{promise.what}}
      </p>
    </div>
  </div>
  <!-- When -->
  <div class="col-span-2">
    <div class="flex h-full items-center">
      <img src="assets/img/image1442.png" alt="" class="mr-2">
      <p class="text-white">{{formatDate(promise.timestamp)}}</p>
    </div>
  </div>
  <div class="col-span-1">
    <div class="flex h-full items-center">
      <p class="text-lg text-white">
        {{promise.vote_yes}}
      </p>
    </div>
  </div>
  <div class="col-span-1">
    <div class="flex h-full items-center">
      <p class="text-lg text-white">
        {{promise.vote_no}}
      </p>
    </div>
  </div>
  <div class="ml-auto col-span-1">
    <div class="flex h-full items-center">
      <button class="ml-4 text-gray-400 hover:text-white" (click)="delete(i)">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
          <path
            d="M17 6H22V8H20V21C20 21.2652 19.8946 21.5196 19.7071 21.7071C19.5196 21.8946 19.2652 22 19 22H5C4.73478 22 4.48043 21.8946 4.29289 21.7071C4.10536 21.5196 4 21.2652 4 21V8H2V6H7V3C7 2.73478 7.10536 2.48043 7.29289 2.29289C7.48043 2.10536 7.73478 2 8 2H16C16.2652 2 16.5196 2.10536 16.7071 2.29289C16.8946 2.48043 17 2.73478 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z"
            fill="currentColor"
          />
        </svg>
      </button>
    </div>
  </div>

</div>
